.navbar {
  background-color: #23689b;
  height: fit-content;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}
.navbar > h1 {
  color: #fff;
}

.option {
  text-align: right;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
h3 {
  padding: 10px;
}
a {
  text-decoration: none;
  color: #fff;
  margin: 0px 30px;
}
a:after {
  border: none;
}
a:hover {
  background-color: #d9dab0;
  border-radius: 10px;
}
