.tracker-app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.tracker-app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 400px;
}
.app-top {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.app-bottom {
  justify-content: center;
  flex: 1;
}
.map {
  max-width: 700px;
}
.app_stats {
  display: flex;
  justify-content: space-evenly;
}
.infoBox {
  margin: 20px;
  border-radius: 10px !important;
  text-transform: capitalize;
  height: 45px;
  width: 55px;
}
.infoBox:hover {
  width: 500px;
  z-index: 1;
  height: auto;

  background-color: #23689b;
  color: #f4f5db;
  transition: cubic-bezier(0.22, 0.61, 0.36, 1) 5s;
}
.app-right {
  padding: 20px;
  border-radius: 20px !important;
  height: 200px;
  min-width: 400px;
}
.graph {
  min-width: 900px;
}
@media (max-width: 990px) {
  .tracker-app {
    flex-direction: column;
  }
  .infoBox {
    font-size: 1vh;
  }
  .graph {
    max-width: 400px;
    min-height: 400px;
  }
}
